@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.is-active {
    font-weight: bold;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}


html {
    margin: 25px;
    background-color: rgb(171, 179, 181);
    font-family: verdana;
    font-size: 20px;
}

h3 {
    margin-top: 20px;
    background-color: rgb(171, 179, 181);
    font-size: 30px;
    font-weight: bolder;
}

p {
    margin-top: 10px;
    margin-left: 15px;
    background-color: rgb(171, 179, 181);
}

.author {
    text-align: center;
    margin-top: 20px;
}

.author img {
    width: 150px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
